---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import * as contact from "./contact.md";
import * as faq from "./faq.md";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style></style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h3>{contact.frontmatter.title}</h3>
        <Fragment set:html={contact.compiledContent()} />
      </section>
      <br>
      <section>
        <h3>{faq.frontmatter.title}</h3>
        <Fragment set:html={faq.compiledContent()} />
        <br>
      </section>
    </main>
    <Footer />
  </body>
</html>
