---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import * as statement from "./statement.md";
---

<style>
  img {
    mix-blend-mode: multiply;
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <section>
        <!-- <h1>{statement.frontmatter.title}</h1> -->
        <h3>{statement.frontmatter.description}</h3>
        <img src="/assets/home-collage.png" alt="" srcset="" />
      </section>
    </main>
    <Footer />
  </body>
</html>
