---
const { volume, title, ...props } = Astro.props;
---

<style>
  li {
    border: 2px solid;
    border-radius: 3px;
  }
  p {
    font-family: "IBM Plex Mono";
    font-size: smaller;
  }
  a {
    font-size: larger;
  }
  img {
    display: inline-block;
    vertical-align: bottom;
  }
  .title {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>

<li>
  <div class="title">
    <p>No. {volume}</p>
    <a href={`/zine/z${volume}/`}>{title}</a>
  </div>
  <a href={`/zine/z${volume}/`}
    ><img src={`/assets/zine/cards/Card_Z${volume}.jpg`} alt="" /></a
  >
</li>
